<div class="container">
    <div class="row">
        <div class="row">
            <div class="form-group-sm">
                <label for="txtLogin">Login</label>
                <input type="text" id="txtLogin" placeholder="Login" class="input-group" /> 
            </div>
            <div class="form-group-sm">
                <label for="txtPassword">Password</label>
                <input type="password" id="txtPassword" placeholder="Password" class="input-group" />
            </div>
            <button type="button" class="btn btn-group-sm btn-primary" (click)="loginUser()">Login</button>
        </div>
    </div>

</div>